.DS_Store
# No incluye el documento Markdown/ - De momento
Markdown/
workspace.code-workspace
Terminal/Scripting-en-Bash.MD
Terminal/linux-commands-handbook.pdf
Terminal/niveles-game.txt
delete_log.log
